/* .body{
    text-align: center;
    width: 500px;
    left: 50%;
    transform: translate(150%,50%);
}

.center{
    
    transform: translate(0%,20%);
}

.center form{
    transform: translate(0%,20%);
}

.center img{
    transform: translate(10%,0%);
}

.buttonCenter{
    left: 50%;
    transform: translate(0%,100%);
}

.googleCenter{
    left: 50%;
    transform: translate(0%,80%);
}

.registerCenter{
    left: 50%;
    transform: translate(0%,60%);
} */

mat-slider {
    width: 300px;
  }

  .main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}