<div class="main-div">
    <mat-card>
        <form class="login-form" [formGroup]="loginFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password" >
            </mat-form-field>

            <button class="example-full-width"  [disabled]="loginFormGroup.invalid" mat-raised-button color="primary"  (click)="login()">Aceptar</button>
        </form>

        
            <button class="example-full-width"  mat-raised-button color="primary"  (click)="goToRegister()">Registrar</button>
        
    
    </mat-card>

    
</div>