<app-top></app-top>
<br>
<br>

<div class="main-div">
    <mat-card>
        <form class="login-form" [formGroup]="registerFormGroup">

            <mat-form-field class="example-full-width">
                <mat-label>username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password1" formControlName="password1" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Password2" formControlName="password2" >
            </mat-form-field>
        
            <button class="example-full-width"  [disabled]="registerFormGroup.invalid" mat-raised-button color="primary"  (click)="register()">Aceptar</button>
        </form>
    </mat-card>

    

</div>